/*
 * Binary sudoku styles
 *
 * @author Dwight Van der Velpen <dfr34kz@gmail.com>
 */

* {
	font-family: 'Roboto', sans-serif;

	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
	line-height: 40px;

	display: inline-block;

	height: 10%;
	margin: 0 auto;
	padding: 5px;

	cursor: pointer;
	cursor: hand;
}

.cell {
	font-size: 40px;
	font-family: 'Permanent Marker', cursive;
}

h2 {
	font-family: 'Permanent Marker', cursive;
	font-size: 25px;
	line-height: 25px;

	margin-bottom: 15px;
}

a {
	font-family: inherit;
	font-size: inherit;

	text-decoration: none;

	color: inherit;
}

ol,
ul {
	margin: 0 10px;

	list-style-position: inside;

	text-align: left;
}

li {
	font-size: 15px;
}

hr {
	margin: 0 10px;

	border-top: 2px dashed rgba(0, 0, 0, .2);
}

body {
	font-size: 18px;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;

	margin: 20px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;

	background-color: #e1d9c0;

	-webkit-perspective: 1600px;
	-moz-perspective: 1600px;
	-o-perspective: 1600px;
	perspective: 1600px;
}

#card {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 5%;
	left: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 500px;
	max-height: 600px;
	margin: 0 auto;

	-webkit-transition: -webkit-transform 1100ms;
	-moz-transition: -moz-transform 1100ms;
	-o-transition: -o-transform 1100ms;
	transition: transform 1100ms;

	border: 2px solid #8b743d;
	background: white;

	-o-box-sizing: border-box;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#github {
	-webkit-transition: color 200ms ease;
	-ms-transition: color 200ms ease;
	transition: color 200ms ease;
	text-decoration: underline;
}

#github:hover {
	color: #f7712e;
}


#card.flipL {
	-webkit-transform: rotateY( 180deg);
	-moz-transform: rotateY( 180deg);
	-o-transform: rotateY( 180deg);
	transform: rotateY( 180deg);
}

#card.flipR {
	-webkit-transform: rotateY( -180deg);
	-moz-transform: rotateY( -180deg);
	-o-transform: rotateY( -180deg);
	transform: rotateY( -180deg);
}

.side {
	position: absolute;

	width: 100%;
	height: 100%;

	background-color: #fff;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.rotated {
	z-index: 2;

	-webkit-transform: rotateY( 180deg);
	-moz-transform: rotateY( 180deg);
	-o-transform: rotateY( 180deg);
	transform: rotateY( 180deg);
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	height: 4%;
}

.hidden {
	display: none;
}

#buttonPlacer {
	position: absolute;
	top: 10px;
}

.content {
	position: relative;

	overflow: hidden;

	height: 85%;
}

.TR {
	right: 15px;
}

.TL {
	left: 15px;
}

.round-button {
	width: 30px;
}

.round-button div p:hover {
	background-color: #888;
}

.round-button p.ttl {
	font-size: 15px;
	font-weight: bold;
}

.round-button p.ttl.g {
	margin-left: -4px;
}

.round-button p.ttl.m {
	margin-left: -2px;
}

.round-button p.ttl.h {
	margin-left: 2px;
}

.round-button div p.fakeHover {
	background-color: #ffa76c;
}

.round-button-circle {
	overflow: hidden;

	width: 100%;
	height: 0;
	padding-bottom: 100%;

	border: 2px solid #888;
	border-radius: 50%;
	box-shadow: 0 0 3px #888;
}


.round-button div p {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1em;

	width: 100%;
	margin-top: -.5em;
	padding-top: 50%;
	padding-bottom: 50%;

	cursor: pointer;
	cursor: hand;
	-webkit-transition: background-color 200ms ease;
	-ms-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

table {
	width: 420px;
	margin: 10px auto 0;

	background: url('../data/takuzuBG.png') no-repeat;
	background-size: 100% 100%;
}

table td {
	position: relative;

	overflow: hidden;

	width: 16.66%;
	padding-top: 16.66%;

	cursor: pointer;
	cursor: hand;
}

.cell {
	position: absolute;
	top: 50%;
	left: 50%;

	margin: 0;

	transform: translate(-50%, -50%);
}

.centerV {
	position: absolute;
	top: 50%;
	left: 0;

	width: 100%;
	margin: 0;

	transform: translate(0, -50%);
}

#rules {
	margin-bottom: 30px;
}

#victory {
	position: absolute;
	top: 5%;
	left: 5%;

	display: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 90%;
	height: 90%;

	cursor: pointer;
	cursor: hand;
	text-align: center;

	border: 2px solid #8b743d;
	border-radius: 20px;
	background: white;

	-o-box-sizing: border-box;
}

.thegamecard {
	-webkit-transition: -webkit-filter 300ms;
	-moz-transition: -moz-filter 300ms;
	-o-transition: -o-filter 300ms;
	transition: filter 300ms;
}

.blurred {
	pointer-events: none;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

#victory div {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;

	transform: translate(0, -50%);
}

#victory #title {
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
	line-height: 40px;

	margin-bottom: 20px;
}

.editable p {
	color: #0f138e;
}

.error p {
	color: #d30808;
}

.nonEditable p {
	color: #1c1c1c;
}

#victory p {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

#info {
	display: inline-block;

	margin-top: 10px;
	padding: 5px 35px;

	text-align: center;

	color: white;
	background: url('../data/swipe1.png') no-repeat;
	background-size: 100% 100%;
}

fieldset {
	display: inline-block;

	margin-bottom: 10px;
	padding: 2px;

	border-color: rgba(0, 0, 0, .12);
}

.ib {
	display: table;

	margin: 0 auto;
	padding: 5px 35px;

	color: white;
	background: url('../data/swipe2.png') no-repeat;
	background-size: 100% 100%;
}

#toSmall {
	display: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;

	border: 2px solid #8b743d;
	background: white;

	-o-box-sizing: border-box;
}

.sublevel {
	margin-bottom: 20px;
}

@media only screen and (max-height: 675px),
only screen and (max-width: 480px) {
	table {
		width: 380px;
	}

	#card {
		max-height: 550px;
	}
}

@media only screen and (max-height: 620px),
only screen and (max-width: 430px) {
	table {
		width: 340px;
	}

	#card {
		max-height: 500px;
	}
}

@media only screen and (max-height: 570px),
only screen and (max-width: 390px) {
	table {
		width: 300px;
	}

	#card {
		max-height: 455px;
	}
	.cell {
		font-size: 30px;
	}
}

@media only screen and (max-height: 520px),
only screen and (max-width: 350px) {
	table {
		width: 250px;
	}

	#card {
		max-height: 430px;
	}
	.cell {
		font-size: 25px;
	}
}

@media only screen and (max-height: 490px),
only screen and (max-width: 310px) {
	#card {
		display: none;
	}
	#toSmall {
		display: inline-block;
	}
	footer {
		height: 20%;
	}
}